* {
    box-sizing: border-box;
  }
  
header{
  width: 100%;
  height: 90%;
}

  body{
      display: flex;
      flex-flow: row wrap;
      width: 100vw;
      font-family:Verdana;
      color:cornflowerblue;
  }
  
  body>div{
      display: flex;
      flex-flow: row wrap;
      width: 100vw;
  }
  
h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
}

h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
  
.main {
  display: flex;
  width: 60%;
  padding: 0 20px;
}
  
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
      p{
          color: blue;
      }
    .menu, .main, .right {
      width: 100%;
    }
  }

.container{
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column{
  position: relative;
    width: 25vw;
    top: 100px;
    padding: 0 10px;
}
.column > div{
    width: 90%;
    font-size: 1.3em;
    padding: 10px;
}

.imageFrame{
    background:cornflowerblue;
    position:relative;
    height: 150px;
    width: 150%;
    border-radius: 8px;
    border: 2px solid white;
}

.imageFrame img{
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}