header {
    background-color: black;
    color: white;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#Principal{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#centro{
    width: 40%;
    padding-left: 25%;
    padding-right: 25%;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    text-align: justify;
}
section {
    background-color: beige;
}

img {
    width: 33%;
    height: auto;
    filter: saturate(0);
}

a:hover img {
    filter: saturate(1);
}